<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.connection.url">
            jdbc:mysql://localhost:3306/bd_jogo
        </property>
        <property name="hibernate.dialect">
            org.hibernate.dialect.MySQL8Dialect
        </property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.format_sql">false</property>
        <property name="hbm2ddl.auto">create-drop</property>
        <mapping class="br.ifpr.jogo.model.graphicelement.GraphicElement"/>
        <mapping class="br.ifpr.jogo.model.graphicelement.Player"/>
        <mapping class="br.ifpr.jogo.model.graphicelement.Enemy"/>
        <mapping class="br.ifpr.jogo.model.graphicelement.Cloud"/>
        <mapping class="br.ifpr.jogo.model.graphicelement.item.Item"/>
        <mapping class="br.ifpr.jogo.model.graphicelement.item.ItemAttackSpeed"/>
        <mapping class="br.ifpr.jogo.model.graphicelement.item.ItemSpeed"/>
        <mapping class="br.ifpr.jogo.model.graphicelement.item.ItemHeal"/>
        <mapping class="br.ifpr.jogo.model.graphicelement.bullets.Bullet"/>
        <mapping class="br.ifpr.jogo.model.graphicelement.bullets.SuperBullet"/>
        <!-- Classes que serão persistidas em sala e/ou trabalho -->
        <!--
        <mapping class="ifpr.paranavai.jogo.modelo.ElementoGrafico" />

        <mapping class="ifpr.paranavai.jogo.modelo.Inimigo" />
        <mapping class="ifpr.paranavai.jogo.modelo.Tiro" />
        <mapping class="ifpr.paranavai.jogo.modelo.FaseUm" />
        <mapping class="ifpr.paranavai.jogo.modelo.Pessoa" />
        <mapping class="ifpr.paranavai.jogo.modelo.Asteroide" />
        -->
    </session-factory>
</hibernate-configuration>
